h1 {
    color: rgb(0,0,0);
    /* color: #2f2f;  */
    /* border-top-style: solid;
    border-bottom-style: double;
    border-left-style: dotted;
    border-right-style: dashed;
    border-bottom-width: 8px;
    border-bottom-color: red; */

    border: 5px red solid;
    border-radius: 50px;
    background-color: pink;

}

body {
    background-color: black;
}

.p1 {
    color: palevioletred;
    border: solid;
    background-image: url("./minions.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p { 
    border: solid;
    color: white;
}